# ---------------------------------------------------------------------
# more gitignore templates see https://github.com/github/gitignore
# ---------------------------------------------------------------------

# ------------------------------- skill -------------------------------
config.json